---
import Layout from "@/layouts/Layout.astro";
import AccordionExample from "@/components/pages/landing/Accordion";
import LoginOptions from "@/components/pages/landing/loginOptions";
import ModeToogle from "@/components/ui/ModeToogle";
---


<Layout title="PIGE">
    <ModeToogle client:load />
  <main
    class="flex flex-col px-5 xl:p-0 w-full xl:w-3/5 mx-auto gap-12 pb-64 relative"
  >
    <!-- Section Presentation -->
    <section>
      <h1 class="text-center text-5xl font-semibold">
        ¡Bienvenido a
        <span
          class="bg-gradient-to-r from-blue-400 to-purple-500 text-transparent bg-clip-text"
        >
          PIGE!
        </span>
      </h1>
      <p class="text-center mt-4">
        Este proyecto esta pensado para facilitar la gestión a los Alumnos,
        Profesores de la EPETP10
      </p>
    </section>

    <!-- Section Accordion -->
    <section>
      <AccordionExample client:load />
    </section>

    <!-- Section Login -->
    <section>
      <LoginOptions />
    </section>
  </main>
</Layout>
