---
import Welcome from '@/components/Welcome.astro';
import Layout from '@/layouts/Layout.astro';
import Layoutt from '@/layouts/Layoutt';
---

<Layout>
	<Layoutt client:load>
		<main>
			Content anache
		</main>
	</Layoutt>
</Layout>
