---
import Layout from "@/layouts/Layout.astro";
import AccordionExample from "@/components/pages/landing/Accordion";
import LoginOptions from "@/components/pages/landing/LoginOptions";
import PigeToolTip from "@/components/pages/landing/PigeToolTip";
---



<Layout title="PIGE">
  <main
    class="flex flex-col px-5 xl:p-0 w-full xl:w-3/5 mx-auto gap-12 pb-64 relative"
  >
    <!-- Section Presentation -->
    <section>
      <h1 class="text-center text-5xl font-semibold">
        ¡Bienvenido a
        <PigeToolTip client:load></PigeToolTip>
        
      </h1>
      <p class="text-center mt-4">
        Este proyecto esta pensado para facilitar la gestión a los Alumnos,
        Profesores de la EPETP10
      </p>
    </section>

    <!-- Section Accordion -->
    <section>
      <AccordionExample client:load />
    </section>

    <!-- Section Login -->
    <section>
      <LoginOptions />
    </section>
  </main>
</Layout>

